<!DOCTYPE html>
<html >
<head>
 

</head>
<body>

    <div class="container-fluid a4">
        
      <app-navigation-usuario></app-navigation-usuario>
        <div class="row row-no-gutters">
          <div class="col-sm-2 a3" > <app-navigation-equipo></app-navigation-equipo> </div>
          
         

           <div class="col-sm-10 a6" >
          
            
                <IMG src="/assets/patrocinador.jpg"  class="a7" >
                  <br/>
                 
                

             <div class="col-sm-6 a12">      

              <div class=a13>
               
               <p> ¿Quieres Apoyarnos? </p> 
           

                 </div>
               
                 <div class="a14">
               
                    <p class="text-justify"> Ahora en la era moderna, el mundo de los juegos competitivos se llama "eSports" o 
                      Deportes Electrónicos. Donde radica nuestro enfoque principal. Nos hemos dedicado 
                      a desarrollar nuestras carreras en esta dirección. Millones de personas al rededor del mundo ven partidas de eSports. 
                      Esta es una gigantesca oportunidad para promover productos a un público objetivo específico.</p> 
                   
     
                      </div>

                <div class="a15">
                    <a routerLink="/inicio/contacto" class="btn a16">Conviertete en Patrocinador</a>
                </div>
                     

                

             </div>

             <div class="col-sm-6 a11">    
               <br/>  
              <IMG src="/assets/copa.jpg"  class="a7" >

             </div>
            </div>

           <div class="col-sm-10 a8 " >
        

          
         </div>

          </div>
         <app-footer></app-footer>
        </div>
</body>
</html>