  <!DOCTYPE html>
<html >
<head>
 

</head>
<body>

    <div class="container-fluid a4">
        
      <app-navigation-usuario></app-navigation-usuario>
        <div class="row row-no-gutters">
          <div class="col-sm-2 a3" > <app-navigation-equipo></app-navigation-equipo> </div>
          
         
           <div class="col-sm-10 a6" >
          
            
                <IMG src="/assets/inicio.gif"  class="a7" >
                  <br/>
                  <br/>
                

             <div class="col-sm-6 a12">      

              <div class=a13>
               
               <p> Tu momento a llegado </p> 
               <p> Representa tus origenes  </p>

                 </div>
               
                 <div class="a14">
               
                    <p> has parte de nuestra escuadra y avanza hasta la cima 
                      convocatorias abiertos para el roster principal se el mejor compite con los mejores </p> 
                   
     
                      </div>

                <div class="a15">
                    <a routerLink="/inicio/convocatoria" class="btn a16">Convocatoria</a>
                </div>
                     

                

             </div>
             <div class="col-sm-6 a11">      
              <IMG src="/assets/esports.jpeg"  class="a7" >

             </div>
            </div>
          </div>
         <app-footer></app-footer>
        </div>
</body>
</html>