
<div class="jumbotron jumbotron-fluid text-center text-light a3" style="margin-bottom:0">
  <div class="row">


      <div class="col-sm-1 a5">

         
          </div>
  
    <div class="col-sm-2 a6">

        <a class="nav-link" routerLink="/inicio/convocatoria" routerLinkActive="active"><i ></i>CONVOCATORIA</a>

        <p class="text-justify"> Has parte de nuestra escuadra y avanza hasta la cima convocatorias abiertos para el roster principal se el mejor compite con los mejores </p>
    </div>
    <div class="col-sm-1 a5">

       
        </div>
    
    <div class="col-sm-4 a5">

        <p>links utiles</p>

        <div>
            <a class="nav-link" routerLink="/inicio/perfil" routerLinkActive="active"><i ></i>Inicio</a>
            <a class="nav-link" routerLink="/inicio/video" routerLinkActive="active"><i ></i>Streaming</a>
            <a class="nav-link" routerLink="/inicio/patrocinadores" routerLinkActive="active"><i ></i>Patrocinadores</a>
            <a class="nav-link" routerLink="/inicio/contacto" routerLinkActive="active"><i ></i>Contactanos</a>

        </div>

        </div>

        
    <div class="col-sm-3 a5">

        <a class="nav-link" routerLink="/inicio/descripcion" routerLinkActive="active"><i></i>Quienes somos</a>
         <p class="text-justify"> 
           Team Legend es una organización colombiana de equipos deportivos profesionales de eSports,
             fundada en enero de 2019, actualmente contando con escuadra de League of Legends.
         </p>
            
        </div>


     <div class="col-sm-1 a5">
       </div>

</div>