<!DOCTYPE html>
<html >
<head>
 

</head>
<body>

    <div class="container-fluid a4">
        
      <app-navigation-usuario></app-navigation-usuario>
        <div class="row row-no-gutters">
          <div class="col-sm-2 a3" > <app-navigation-equipo></app-navigation-equipo> </div>
          
         
           <div class="col-sm-10 a6 " >
           <div class="a8">
                <div class="a9">
                  <div class="a13">
                <p>TEAM LEGEND "El Comienzo"</p>
                  <br>
                  <p>Nuestra Historia</p>
                </div>
                <div class="a14">
                <p class="text-justify">Team  legend nace en Cali, como un nuevo equipo profesional de eSports colombiano, iniciando con escuadra de League of Legends, apuntando a las máximas competencias de la industria que mueve miles de millones de dólares anuales y millones de espectadores al rededor del mundo.

                  Nuestros principales pilares son: Pasión, Crecimiento, Dedicación y Diversión, con estos lograremos conquistar las ligas en las que participemos.
                  
                  Team legend  es una organización joven, su historia aún se está escribiendo, te invitamos ser testigo de esta gran leyenda.</p>
                </div>
                  <br/>
                </div>
              </div>
              <br/>
              

            <div  class="col-sm-6 a10">
         
                <div class="a13">      <h2>Game House</h2></div>
      
                <div class="a15"> 
          <p class="text-justify"> 
            Team legend cuenta con una game house ubicada en cali  para la comodidad de sus jugadores y 
            que puedan mejorar sus habiliades mecanicas en el juego, con buena ambientacion y apoyo psicologico 
            para sus jugadores ofreciendo la mejor calidad para ellos.
          </p>
            <br/>
          <p class="text-justify"> 
             Tambien cuenta con un cyber en el cual puedes visitar de modo aficionado con tus amigos y jugar 
             el cual tiene equipos de alta gama para jugar tus videojuegos favoritos al mejor nivel de todos
             con precios muy bajos   
          </p>
                </div>
            <div class="a15">
                <a routerLink="/inicio/contacto" class="btn a16">Como Llegar</a>
            </div>
            </div>
            <div  class="col-sm-6 a11">
                <IMG src="/assets/prueba.gif"  class="a7" >
              </div>

          
         </div>
          </div>
         <app-footer></app-footer>
        </div>
</body>
</html>