<!DOCTYPE html>
<html >
<head>
 

</head>
<body>
    <app-navigation-usuario></app-navigation-usuario>
    <div class="container-fluid a4">
        
     
        <div class="row row-no-gutters">
          <div class="col-sm-2 a3" > <app-navigation-equipo></app-navigation-equipo> </div>
          
         

           <div class="col-sm-10 a6" >
          
            <div class="a20">
<h2> Sigue nuestro recorrido y visualiza nuestros logros juntos se parte de ello</h2>


            </div>
            <div class="a21">

            <app-post2></app-post2>

            </div>
            
         
</div>
          </div>
         <app-footer></app-footer>
        </div>
</body>
</html>