    
<!DOCTYPE html>
<html>

  <body>

    <div class="row">
        <div class="col-sm-12 " >
    <header class="header content">
      <div class="header-video">
     

        <video  autoplay loop >
            <source src="/assets/video-inicio.mp4">
            
        </video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content">
        <h1>Fazt Web</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, asperiores.</p>
        <a routerLink="/inicio/perfil" class="btn">Go to FaztWeb</a>
      </div>
    </header>
  </div>
</div>
  </body>
</html>