    
<!DOCTYPE html>
<html>

  <body>

    <div class="row">
        <div class="col-sm-12 " >
    <header class="header content">
      <div class="header-video">
     

        <video autoplay loop >

            <source src="/assets/video-inicio.mp4" autoplay loop >
            
        </video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content">
        <h1>Team Legend</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, asperiores.</p>
        <a routerLink="/inicio/perfil" class="btn">Comenzar</a>
      </div>
    </header>
  </div>
</div>
  </body>
</html>