/* CSS used here will be applied after bootstrap.css */
.navbar-fixed-left {
  width: 220px;
  position: fixed;
  border-radius:0;
  height: 100%;
}
  

.nav2{
  width: 220px;
  position: initial;
  border-radius:0;
  height: 100%;
  
}
