<!DOCTYPE html>
<html >
<head>
 

</head>
<body>
        <app-navigation-usuario></app-navigation-usuario>

    <div class="container-fluid a4">
        
    
        <div class="row row-no-gutters">
          <div class="col-sm-2 a3" > <app-navigation-equipo></app-navigation-equipo> </div>
          
         
           <div class="col-sm-10 a8 " >
                <head>
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <meta http-equiv="X-UA-Compatible" content="ie=edge">
                        <title>Formulario de contacto</title>            
                        <script src="js/jquery-3.2.1.js"></script>
                        <script src="js/script.js"></script>
                    </head>

                    <body>

                            <section class="form_wrap">
                        
                                <section class="cantact_info">
                                    <section class="info_title">
                                        <span class="fa fa-user-circle"></span>
                                        <h2>INFORMACION<br>DE CONTACTO</h2>
                                    </section>
                                    <section class="info_items">
                                        <p><span class="fa fa-envelope"></span> info.contact@gmail.com</p>
                                        <p><span class="fa fa-mobile"></span> +1(585) 902-8665</p>
                                    </section>
                                </section>
                        
                                <form action="" class="form_contact">
                                    <h2>Envia un mensaje</h2>
                                    <div class="user_info">
                                        <label for="names">Nombres *</label>
                                        <input type="text" id="names">
                        
                                        <label for="phone">Telefono / Celular</label>
                                        <input type="text" id="phone">
                        
                                        <label for="email">Correo electronico *</label>
                                        <input type="text" id="email">
                        
                                        <label for="mensaje">Mensaje *</label>
                                        <textarea id="mensaje"></textarea>
                                              
                                        <input type="button" value="Enviar Mensaje" id="btnSend">
                                    </div>
                                </form>
                        
                            </section>
                       <div class="a20" > <h2>Tambien puedes dirigirte a nuestra cede en cali</h2> <br/> </div>
                     <div class="a21"> <app-maps></app-maps> </div>
                        </body>
          
         </div>
          </div>
          </div>
          
 <app-footer></app-footer>
      
</body>
</html>